<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>nl.ulso.mft</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>895315D6-5799-4E64-832C-7A26230A2139</key>
		<array/>
		<key>FAE14E0D-4C51-4C2D-A529-4E193B0BCC01</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>895315D6-5799-4E64-832C-7A26230A2139</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vincent Oostindie</string>
	<key>description</key>
	<string>Generates Markdown files from templates</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Markdown from Template</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>mft</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>PATH=$RUBY_PATH:$PATH
../exe/mft -a</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>~/Code/markdown-from-template/exe/mft</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Create a Markdown file from template {query}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FAE14E0D-4C51-4C2D-A529-4E193B0BCC01</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>PATH=$RUBY_PATH:$PATH
../exe/mft $* 2&gt;/dev/null</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>895315D6-5799-4E64-832C-7A26230A2139</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>895315D6-5799-4E64-832C-7A26230A2139</key>
		<dict>
			<key>note</key>
			<string>Create Markdown from from specified template</string>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>115</integer>
		</dict>
		<key>FAE14E0D-4C51-4C2D-A529-4E193B0BCC01</key>
		<dict>
			<key>note</key>
			<string>List all available templates</string>
			<key>xpos</key>
			<integer>85</integer>
			<key>ypos</key>
			<integer>115</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>RUBY_PATH</key>
		<string>/Users/vincent/.rbenv/shims</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>RUBY_PATH</string>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
