<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>nl.ulso.mft</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>895315D6-5799-4E64-832C-7A26230A2139</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C8CF71C1-82E4-4878-A076-E1D5078CB9E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B0C07BCE-39D1-489D-8702-6C079ECD5E14</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1657EBDC-67A0-45D0-9C13-B7BEE19C66B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C8CF71C1-82E4-4878-A076-E1D5078CB9E0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>849CA7DB-ADC8-49C2-BA44-FF95D8784F3F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>04DB953E-0D2C-40A6-8A99-F7B5F5E9A769</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B0C07BCE-39D1-489D-8702-6C079ECD5E14</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FAE14E0D-4C51-4C2D-A529-4E193B0BCC01</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>895315D6-5799-4E64-832C-7A26230A2139</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vincent Oostindie</string>
	<key>description</key>
	<string>Generates Markdown files from templates</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Markdown from Template</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Template creation canceled!</string>
				<key>title</key>
				<string>Markdown from Template</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>849CA7DB-ADC8-49C2-BA44-FF95D8784F3F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>PATH=$RUBY_PATH:$PATH
../exe/mft "$*" 2&gt;/dev/null</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>895315D6-5799-4E64-832C-7A26230A2139</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>1</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>mft</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>PATH=$RUBY_PATH:$PATH
../exe/mft -a</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>~/Code/markdown-from-template/exe/mft</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Create a Markdown file from template {query}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FAE14E0D-4C51-4C2D-A529-4E193B0BCC01</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>.*Unexpected output.*</string>
						<key>outputlabel</key>
						<string>no output / canceled</string>
						<key>uid</key>
						<string>04DB953E-0D2C-40A6-8A99-F7B5F5E9A769</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>file created</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>C8CF71C1-82E4-4878-A076-E1D5078CB9E0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require 'erb'
path = ERB::Util.url_encode ARGV[0].strip
print "obsidian://open?path=#{path}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B0C07BCE-39D1-489D-8702-6C079ECD5E14</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1657EBDC-67A0-45D0-9C13-B7BEE19C66B3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1657EBDC-67A0-45D0-9C13-B7BEE19C66B3</key>
		<dict>
			<key>xpos</key>
			<integer>920</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>849CA7DB-ADC8-49C2-BA44-FF95D8784F3F</key>
		<dict>
			<key>xpos</key>
			<integer>730</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>895315D6-5799-4E64-832C-7A26230A2139</key>
		<dict>
			<key>note</key>
			<string>Create Markdown from from specified template</string>
			<key>xpos</key>
			<integer>325</integer>
			<key>ypos</key>
			<integer>115</integer>
		</dict>
		<key>B0C07BCE-39D1-489D-8702-6C079ECD5E14</key>
		<dict>
			<key>xpos</key>
			<integer>730</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>C8CF71C1-82E4-4878-A076-E1D5078CB9E0</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>FAE14E0D-4C51-4C2D-A529-4E193B0BCC01</key>
		<dict>
			<key>note</key>
			<string>List all available templates</string>
			<key>xpos</key>
			<integer>85</integer>
			<key>ypos</key>
			<integer>115</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>RUBY_PATH</key>
		<string>/Users/vincent/.rbenv/shims</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>RUBY_PATH</string>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
